extends ../partials/head
block content
  .all-wrapper
    form.general-form-wrapper#form
      .general-title Admin Girişi
      input.general-text-input#password-input(type='password' placeholder='Lütfen admin şifresini yazın' autofocus autocomplete='none')
      .general-form-button-wrapper
        button.general-form-button Giriş Yap
      .general-form-error#error
