extends ../partials/header
block main
  input.display-none#user(value=JSON.stringify(user))
  .general-title Üniversite Kullanıcısınım Şifresini Düzenle
  .general-bread-cramp-wrapper
    a.general-each-bread-cramp-item(href='/') Ana Sayfa
    .general-each-bread-cramp-arrow >
    a.general-each-bread-cramp-item(href='/user') Üniversite Kullanıcıları
    .general-each-bread-cramp-arrow >
    .general-each-bread-cramp-item-last Üniversite Kullanıcısınım Şifresini Düzenle
  .general-form-outer-wrapper
    .general-form-wrapper
      .general-form-input-title.general-form-input-title-required E-Posta Adresi
      .general-text-input-small-not-allowed=user.email
      .general-form-input-title Yeni Şifre
      input.general-text-input-small#password-input(type='password' placeholder='Şifre (En az 8 karakterli olmalıdır)')
      .general-form-input-title Yeni Şifre Tekrarı
      input.general-text-input-small#confirm-password-input(type='password' placeholder='Şifre Tekrarı')
      .general-form-button-wrapper
        a.general-form-back-button(href='/user') Vazgeç
        .general-form-button#save-button Kaydet
      .general-form-error#error
